body, textarea {
	background-color: #ffd;
	font: 400 8pt consolas, monospace;
	line-height: 120%;
	overflow:hidden;
	border: 0;
	margin-top: 0;
	padding: 0.5em;
	outline: 0px !important;
	-webkit-appearance: none;
}


#toolbar { 
	background-color: #ffc;
	opacity:0;
	margin-bottom:0;
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
}
	#toolbar:hover {
		opacity:1;
		transition: opacity 0.2s linear 0s;
	}


button {
	float:right;
	margin: 0px 2px;
}
button:hover {
	border: 2px solid #06f;

